# Stellar.toml
TOML_VERSION=2.4.1
#NETWORK_PASSPHRASE="Public Global Stellar Network ; September 2015"
NETWORK_PASSPHRASE="Test SDF Network ; September 2015"
SIGNING_KEY=GBITFSUOKEYMEIJXAIQWBLALGEHEDBUOLIMHT77ROCHJ6URRGQVNJIV6
WEB_AUTH_ENDPOINT=https://sep10.oralkin.repl.co/auth
TRANSFER_SERVER=https://sep10.oralkin.repl.co/sep6

# Tx Settings
CUSTODIAN_WALLET=SBMLXMZTDNRFUI3HH6DP7OCUBCTDM7KUHBHGQ7KTVUETLC7ZCKQJV26X
HOME_DOMAIN=sep10.oralkin.repl.co
JWT_SECRET=SuperSecretString
HORIZON_URL="https://horizon-testnet.stellar.org"
